doctype html
html( lang='en' )
  head
    title Tic-Tac-Toe
    link( rel="stylesheet", href="style.css" )
    link( rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:400,500,600", type="text/css" )
    script( type='text/javascript', src='tictactoe.js' )
  body
    script.
      var app = Elm.fullscreen( Elm.TicTacToe )

